// bootstrap
$font-family-sans-serif: 'Open Sans', sans-serif;
// $font-family-monospace: "Roboto Mono", Consolas, monospace;
$body-color: #353637;
$primary: #8b9db5;
$secondary: #123541;
$dark: $body-color;
$enable-rounded: false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1740px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1680px
) !default;

$link-decoration: underline;
$link-color: $primary;

$carousel-control-color: $primary;
$carousel-indicator-active-bg: $body-color;

@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';
